#search section {
  background-color: rgba(255, 255, 255, 0.75);
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.background {
  /* background: url('images/background-book.jpg') center/cover; */
  position: fixed;
  top: 43px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: grayscale(0.75);
}

.item-search__form {
  position: relative;
  max-width: 30rem;
  margin: 0 auto;
}

.item-search__title-input {
  padding-left: 1rem;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  background-color: #e9e9e9;
}

.item-search__icon {
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 1rem;
  border: none;
  height: 2.5rem;
  color: #888;
}

.item-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-result {
  position: relative;
  /* overflow: hidden; */
}

.item-result img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.item-result__selected-sign {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(255, 255, 255, 0.9);
  background-color: rgba(255, 27, 104, 0.5);
  padding: 1rem 0.3rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}

@media (min-width: 40rem) {
  #search section {
    width: 80%;
  }

  .item-results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
