main {
  margin-top: 64px;
}

section {
  background-color: rgba(255, 255, 255, 0.75);
  width: 80%;
  margin: 1rem auto;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.background {
  background: url('images/background-book.jpg') center/cover;
  position: fixed;
  top: 43px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: grayscale(0.75);
}

.section__title {
  text-align: center;
}

#item-search input,
#item-search select,
#item-search label {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-family: inherit;
  font-size: 1rem;
}

#item-search label {
  font-weight: bold;
  padding: 0.5rem;
  margin: 0.5rem;
}

#item-search input:focus,
#item-search select:focus {
  outline: none;
  border-color: #0e4f1f;
  background-color: #d8f3df;
}

#item-search button {
  margin: 0 auto;
  padding: 0.5rem 2rem;
}

@media (min-width: 40rem) {
  #item-search input,
  #item-search select,
  #item-search label {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
