* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.button {
  border: none;
  padding: 8px 16px;
  color: #fff;
  background-color: #0e4f1f;
  border: 2px solid #0e4f1f;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  color: #0e4f1f;
  background-color: #fff;
}

.button:focus {
  outline: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2ddf5c;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

main {
  margin-top: 43px;
}

.main-header__brand {
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  color: #0e4f1f;
  cursor: pointer;
}

.main-nav__items {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding-bottom: 4px;
}

.main-nav__item a:active,
.main-nav__item a:hover {
  color: white;
  border-bottom: 4px solid white;
}
