* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #333;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(3rem) auto;
  grid-template-areas: 'header' 'main';
}

main {
  margin-top: 3rem;
  grid-area: main;
}

.button {
  display: block;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #0e4f1f;
  border: 2px solid #0e4f1f;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.delete-button {
  background-color: rgb(255, 68, 68);
  border-color: rgb(255, 68, 68);
}

.button:hover,
.button:active {
  color: #0e4f1f;
  background-color: #fff;
}

.button:focus {
  outline: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2ddf5c;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  min-height: 3rem;
  top: 0;
  left: 0;
  z-index: 10;
}

.main-header__brand {
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
  color: #0e4f1f;
  cursor: pointer;
}

.main-nav {
  display: none;
}

.sidebar-button {
  width: 5%;
  height: 80%;
  min-width: 3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sidebar-button__bar {
  display: block;
  height: 0.3rem;
  width: 80%;
  margin: 0.2rem;
  background-color: green;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.open {
  display: block !important;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100vh;
  width: 75vw;
  background-color: white;
  display: none;
}

.mobile-nav__items {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.mobile-nav__item {
  margin: 1rem;
}

.mobile-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 40rem) {
  .main-nav {
    display: block;
  }

  .main-nav__items {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
  }

  .main-nav__item {
    margin: 0 1rem;
  }

  .main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding-bottom: 4px;
  }

  .main-nav__item a:active,
  .main-nav__item a:hover {
    color: white;
    border-bottom: 4px solid white;
  }

  .sidebar-button {
    display: none;
  }
}
