#user-summary {
  padding: 0.5rem;
}

.user-summary__icon {
  display: flex;
}

.user-summary__icon .image-container {
  height: 10rem;
  width: 10rem;
  overflow: hidden;
  border-radius: 10%;
}

.user-summary__icon img {
  width: 100%;
}

.user-summary__details {
  flex-grow: 1;
  margin: 0 0.5rem;
}

.user-summary__name,
.user-summary__number {
  font-weight: bold;
}

.user-summary__following,
.user-summary__followers,
.user-summary__request {
  color: var(--text-grey);
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

.user-summary__comment {
  border: none;
  margin: 0.5rem 0;
  background-color: var(--light-green);
  padding: 1rem;
  border-radius: 12px;
}

.user-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

#edit-form {
  padding: 0.5rem;
}

.edit-form__input-container {
  border-bottom: 1px solid var(--light-grey);
  width: 100%;
  margin: 0 auto 2rem auto;
  padding-bottom: 1rem;
}

.edit-form__input {
  display: block;
  padding: 0.5rem;
  width: 100%;
}

.edit-form__label {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 40rem) {
  #user-summary,
  #edit-form,
  #user-actions {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}
